# Môi trường ảo
venv/
env/
.env.local
.env.production
.env

# Cache
__pycache__/
*.pyc

# Cache âm thanh
audio_cache/

# Lịch sử trò chuyện
chat_history.log

# raas-platform
raas-platform/

# test
test/
rag-docs/
